@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    ::selection {
      @apply bg-[#57d9d4] text-[#7787a4];
    }
  }
  *{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  